!!!
%html
  %head
    %link{"type"=>"text/css","rel"=>"stylesheet","href"=>"/stylesheet.css"}
  %body
    #main
      #title!= @title
      #rant
        #pull_quote!= @pull_quote
        #babble!= @babble
      #morerant!= @more_babble
      #evenmorerant!= @even_more_babble
